/*
*   Base
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #85becc;
}

.section .section-title,
h1, .h1,
h2, .h2 {
    font-size: 30px;
}

h3, .h3,
h4, .h4,
h5, .h5 {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 1.8;
}

a {
    color: #85becc;
}

button,
button:focus, 
button:active {
    background: none;
    outline: 0 none;
    border: 0;
}

.alignright {
    float: right;
    margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

blockquote.alignleft {
    margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
    margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
    margin-bottom: 1.473684211em;
}
