
/*
*   Navbar
*/
.navbar { padding-top: 11px; }
.navbar-brand { padding: 0 0 0 15px; }
.navbar-brand img { width: 80%; }

/* navbar header*/
.navbar .navbar-header .navbar-toggle { 
    margin-top: 3px;
    border-radius: 0;
    border: 0;
}

.navbar .navbar-header .navbar-toggle .icon-bar { border: 1px solid #fff; }

.navbar a.btn-green {
    display: inline-block;
    background: #59ba4c;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    text-decoration: none;
}
.navbar-nav > li > .dropdown-menu.dropdown-menu--lightblue li > a {
    font-size: 15px;
    color: #525451;
    padding: 6px 30px;
}

.navbar-nav > li > .dropdown-menu.dropdown-menu--lightblue li > a:hover,
.navbar-nav > li > .dropdown-menu.dropdown-menu--lightblue li > a:focus {
    background: none;
    color: #fff;
}

.navbar-nav > li > .dropdown-menu.dropdown-menu--lightblue a {
    color: #525451;
}

.navbar-overlay {  
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all .3s;
}

.padding-0 {
    padding: 0;
}

.box-cta {
    text-align: right;
}

#navbar-menu-wrapper {
    display: table; 
    width: 100%; 
    position: absolute; 
    text-align: center;
    /* height vh 100% -  CSS3 */
    height: 100vh; 
}

.inner-menu-wrapper {
    display: table-cell; 
    vertical-align: middle;
}

#navbar-menu-wrapper .navbar-nav > li > a.active,
#navbar-menu-wrapper .navbar-nav > li > a {
    padding: 20px;
    font-size: 30px;
    color: #fff;
    border: 0;
}

#navbar-menu-wrapper .navbar-collapse {
    border: 0;
    box-shadow: none;
}

#navbar-menu-wrapper .navbar-nav > li > a:hover,
#navbar-menu-wrapper .navbar-nav > li > a:focus{
    color: #16b3e8;
    background-color: inherit;
}