
/* Small devices (phones, 480px and up) */
@media (min-width: 480px) {

}

/* Small devices (phones, 600px and up) */
@media (min-width: 600px) {

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* ===== Generic ====== */
    .section {
        padding: 40px 0;
    }

	.single .entry-header .entry-title {
	    font-size: 40px;
	    text-align: center;
	    padding: 20px 0;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.post-item .post-thumbnail {
	    width: 455px;
	}
	
    /* ===== Wordpress Plugins ====== */
    .apss-social-share {
        padding-top: 30px;
    }

	.error404 .section .content-area .section-title {
		font-size: 60px;
	}

	.single .entry-header .entry-title {
	    padding: 50px 0;
	}


}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.post-item .post-thumbnail {
	    width: 550px;
	}

}

