
/* Small devices (phones, 480px and up) */
@media (min-width: 480px) {
	.single {
		.section-featured {
			.featured-inner {
				height: 260px;

				.post-title {
					font-size: 30px;
				}
			}
		}
	}
}

/* Small devices (phones, 600px and up) */
@media (min-width: 600px) {
	.single {
		.section-featured {
			.featured-inner {
				height: 300px;
			}
		}
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* ===== Generic ====== */
    .section {
        padding: 40px 0;
    }

	.single .entry-header .entry-title {
	    font-size: 40px;
	    text-align: center;
	    padding: 20px 0;
	}

    /* ===== Single ====== */
	.single {
		.section-featured {		
			overflow: hidden;

			.featured-inner {
				overflow: hidden;
				height: 380px;

				.featured-title {
					font-size: 30px;	

					.post-title {
						font-size: 30px;	
					}
				}
			}
		}

		.content-area {
			line-height: 1.8;
		}
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.post-item .post-thumbnail {
	    width: 455px;
	}
	
	.error404 {
		.section {
			.content-area {
				.section-title {
					font-size: 60px;					
				}
			}
		}
	}

    /* ===== Single ====== */
	.single {
		.section-featured {		
			.featured-inner {
				.featured-title {
					font-size: 50px;	

					.post-title {
						padding: 0 15%;
						font-size: 50px;
					}
				}
			}
		}
	}


    /* ===== Wordpress Plugins ====== */
    .apss-social-share {
        padding-top: 30px;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.post-item .post-thumbnail {
	    width: 550px;
	}

    /* ===== Single ====== */
	.single {
		.section-featured {		
			> img {
				max-width: 100%;
			}

			.featured-inner {
				.featured-title {
					font-size: 50px;	

					.post-title {
						font-size: 50px;	
					}
				}
			}
		}
	}

}

